# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/
cover/
results/
work_dirs/
outputs/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# uv
.uv/
uv.lock

*.onnx
*.bin
*.xml
*.tflite
tests/**/*.ncu-rep
tests/**/*.nsys-rep

# agents
.claude/settings.local.json
.opencode/
.superpower
.specify
